@model Emaily.Web.Models.ConsoleViewModel
@{
    Layout = null;
    var app = new {Name="Emaily",Theme="emaily"};
    var folder = "layout";
    if (Model.Role == "Client" || Model.Role == "ClientAdmin") { folder = "layout/client"; }
    else if (Model.Role == "User") { folder = "layout/user"; }
}
<html lang="en" ng-app="app" data-app-name="@app.Name" data-app-theme="@app.Theme" data-app-roles="@Model.Role.ToLower()">
<head>
    <title>@app.Name</title>
    <link href="~/content/themes/@app.Theme/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fragment" content="!" />
    @Styles.Render("~/Content/spa/css")
    @Styles.Render("~/content/spa/codemirror")
</head>
<body ng-controller="AppController" class="@app.Name.ToLower() page-header-fixed page-container-bg-solid page-content-white"
      ng-class="{'page-quick-sidebar-open':quick,'page-full-width':!sidebar,'page-sidebar-closed':sidebarClosed}">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div ng-include="'App_2/views/@folder/header.html'" ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"></div>
    <div class="clearfix"></div>
    <div class="page-container">
        <div ng-if="!sidebar" ng-include="'App_2/views/@folder/sidebar.html'" ng-controller="SidebarController" class="page-sidebar-wrapper"></div>
        <div ng-if="sidebar" ng-include="'App_2/views/@folder/sidebar-left.html'" ng-controller="SidebarController" class="page-sidebar-wrapper"></div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div ui-view fill-height additional-padding="-10" debounce-wait="400" footer-element-id="page-footer"></div>
            </div>
        </div>
        <a ng-click="toggleQuick()" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>
        <div ng-include="'App_2/views/layout/quick-sidebar.html'" class="page-quick-sidebar-wrapper"></div>
    </div>
    <div ng-include="'App_2/views/@folder/footer.html'" ng-controller="FooterController" id="page-footer" class="page-footer">
    </div>
    @Scripts.Render("~/script/vendors")
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/scripts/extra/tinymce/tinymce.min.js"></script>
    @Scripts.Render("~/script/spa/codemirror")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/script/spa")
    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function () {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/content/images'); // Set the assets folder path
        });
    </script>
</body>
</html>